.main-nav {
  width: 100%;
  display: flex;
  // background-color: red;
  justify-content: space-between;
  border-bottom: 1px solid $light-gray;
  height: 40px;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
}

.left-nav {
  display: flex;
  align-items: center;
  > ul {
    > li {
      margin-left: 20px;
      padding: 6px;
      border-radius: 4px;
    }
  }

  span {

  }
}

.right-nav  {
  display: flex;
  align-items: center;
  > ul {

    > li {
      margin-left: 20px;
      padding: 6px;
      border-radius: 4px;
    }

    > li:last-of-type {
  
    }
  }
  
  i {

  }
}

#sections-sidebar-btn:hover, #search-modal-btn:hover, #gear:hover {
  background-color: lightgrey;
  cursor: pointer;
}

#subscribe, #login {
  background-color: rgb(118, 168, 214);
  padding: 6px;
  border-radius: 4px;
}

#subscribe a, #login a {
  color: white;
  font-weight: bolder;
}

#subscribe:hover, #login:hover {
  background-color: rgb(88, 127, 163);
}


.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}

img {
  height: 14px;
}