<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>SECTIONS</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>SEARCH</span>
			</li>
		</ul>
	</nav>

	<nav class="right-nav">
		<ul>
			<li id="subscribe">
				<a href="#">SUBSCRIBE NOW!</a>
			</li>

			<li id="login">
				<a href="#">LOG IN</a>
			</li>

			<li id="gear">
				<img src= "<%= image_path("gear.png")%>">
			</li>

		</ul>
	</nav>
</header>