<table>
    <thead>
        <tr>
            <th colspan="5">Cat Info</th>
        </tr>
        <tr>
          <th colspan="1">Name</th>
          <th colspan="1">Birth Date</th>
          <th colspan="1">Color</th>
          <th colspan="1">Sex</th>
          <th colspan="1">Description</th>
        </tr>
    </thead>
    <tbody>
      <td><%= render 'cat', cat: @cat, action: :show%></td>
    </tbody>
</table>